.variant_btn {
    @apply inline-flex items-center justify-center gap-2 h-11 px-4 rounded-xl whitespace-nowrap text-base leading-4 font-medium transition-colors;
}

.variant_btn:focus-visible {
    outline: none;
    @apply ring-1;
}

.variant_btn:disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.primary_btn {
    background-color: var(--maroon-600);
    color: white;
}

.primary_btn:hover {
    background-color: var(--maroon-700);
}

.dark .primary_btn {
    background-color: var(--softPink-300);
    color: #27272a;
}

.dark .primary_btn:hover {
    background-color: var(--softPink-400);
}

.primary_btn:disabled {
    @apply bg-zinc-300 text-zinc-500;
}

.dark .primary_btn:disabled {
    @apply bg-zinc-700 text-zinc-600;
}


.secondary_btn {
    background-color: var(--maroon-50);
    color: var(--maroon-600);
}

.secondary_btn:hover {
    background-color: var(--maroon-100);
}

.dark .secondary_btn {
    @apply bg-zinc-700;
    color: var(--softPink-300);
}

.dark .secondary_btn:hover {
    @apply bg-zinc-600;
}

.secondary_btn:disabled {
    @apply bg-zinc-300 text-zinc-500;
}

.dark .secondary_btn:disabled {
    @apply bg-zinc-700 text-zinc-600;
}


.outline_btn {
    background-color: white;
    border: 1px solid var(--maroon-600);
    color: var(--maroon-600);
}

.outline_btn:hover {
    background-color: var(--maroon-50);
}

.dark .outline_btn {
    @apply bg-zinc-800;
    border-color: var(--softPink-300);
    color: var(--softPink-300);
}

.dark .outline_btn:hover {
    @apply bg-zinc-700;
}

.outline_btn:disabled {
    @apply bg-zinc-100 text-zinc-400 border-zinc-300;
}

.dark .outline_btn:disabled {
    @apply bg-zinc-800 text-zinc-600 border-zinc-600;
}


.subtle_btn {
    @apply bg-zinc-50 border border-zinc-400 text-zinc-800;
}

.subtle_btn:hover {
    @apply bg-zinc-100;
}

.dark .subtle_btn {
    @apply bg-zinc-800 border-zinc-500 text-zinc-50;
}

.dark .subtle_btn:hover {
    @apply bg-zinc-700;
}

.subtle_btn:disabled {
    @apply bg-zinc-100 text-zinc-400 border-zinc-300;
}

.dark .subtle_btn:disabled {
    @apply bg-zinc-800 text-zinc-600 border-zinc-600;
}


.ghost_btn {
    @apply bg-transparent text-zinc-800;
}

.ghost_btn:hover {
    @apply bg-zinc-100;
}

.dark .ghost_btn {
    @apply bg-transparent text-zinc-50;
}

.dark .ghost_btn:hover {
    @apply bg-zinc-700;
}

.ghost_btn:disabled {
    @apply bg-zinc-100 text-zinc-400;
}

.dark .ghost_btn:disabled {
    @apply bg-zinc-700 text-zinc-600;
}


.destructive_btn {
    @apply bg-red-600 text-white;
}

.destructive_btn:hover {
    @apply bg-red-700;
}

.dark .destructive_btn {
    @apply bg-red-500 text-zinc-50;
}

.dark .destructive_btn:hover {
    @apply bg-red-600;
}

.destructive_btn:disabled {
    @apply bg-zinc-300 text-zinc-500;
}

.dark .destructive_btn:disabled {
    @apply bg-zinc-700 text-zinc-600;
}