
.variant_btn {
    @apply inline-flex items-center justify-center gap-2 h-11 px-4 rounded-xl whitespace-nowrap text-base leading-4 font-medium transition-colors focus-visible:outline-none focus-visible:ring-1  disabled:pointer-events-none ;
}

.primary_btn {
    @apply bg-maroon-600 text-white hover:bg-maroon-700 dark:bg-softPink-300 dark:text-zinc-800 dark:hover:bg-softPink-400 disabled:bg-zinc-300 disabled:text-zinc-500 disabled:border-zinc-300 disabled:cursor-not-allowed dark:disabled:bg-zinc-700 dark:disabled:text-zinc-600 dark:disabled:border-zinc-800;
}

.secondary_btn {
    @apply bg-maroon-50 text-maroon-600 hover:bg-maroon-100 dark:bg-zinc-700 dark:text-softPink-300 dark:hover:bg-zinc-600 disabled:bg-zinc-300 disabled:text-zinc-500 disabled:border-zinc-300 disabled:cursor-not-allowed dark:disabled:bg-zinc-700 dark:disabled:text-zinc-600 dark:disabled:border-zinc-800;
}

.outline_btn {
    @apply bg-white border border-maroon-600 text-maroon-600 hover:bg-maroon-50 dark:bg-zinc-800 dark:border-softPink-300 dark:text-softPink-300 dark:hover:bg-zinc-700 disabled:bg-zinc-100 disabled:text-zinc-400 disabled:border-zinc-300 disabled:cursor-not-allowed dark:disabled:bg-zinc-800 dark:disabled:text-zinc-600 dark:disabled:border-zinc-600;
}

.subtle_btn {
    @apply bg-zinc-50 border border-zinc-400 text-zinc-800 hover:bg-zinc-100 dark:bg-zinc-800 dark:border-zinc-500 dark:text-zinc-50 dark:hover:bg-zinc-700 disabled:bg-zinc-100 disabled:text-zinc-400 disabled:border-zinc-300 disabled:cursor-not-allowed dark:disabled:bg-zinc-800 dark:disabled:text-zinc-600 dark:disabled:border-zinc-600;
}

.ghost_btn {
    @apply bg-transparent text-zinc-800 hover:bg-zinc-100 dark:bg-transparent dark:text-zinc-50 dark:hover:bg-zinc-700 disabled:bg-zinc-100 disabled:text-zinc-400 disabled:border-zinc-300 disabled:cursor-not-allowed dark:disabled:bg-zinc-800 dark:disabled:text-zinc-600 dark:disabled:border-zinc-600 dark:disabled:bg-zinc-700 dark:disabled:text-zinc-600 dark:disabled:border-zinc-800;
}

.destructive_btn {
    @apply bg-red-600 text-white hover:bg-red-700 dark:bg-red-500 dark:text-zinc-50 dark:hover:bg-red-600 disabled:bg-zinc-300 disabled:text-zinc-500 disabled:border-zinc-300 disabled:cursor-not-allowed dark:disabled:bg-zinc-700 dark:disabled:text-zinc-600 dark:disabled:border-zinc-800;
}